/* .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 } */
.navbar-default{
    background-color: #3F51B5;
}
.navbar-default .navbar-header a {
  color: #fff;
  background-color: #3498db;
}

.navbar-default .navbar-collapse .navbar-nav a {
  color: #fff;
  background-color: #3498db;
}


@media (min-width: 768px)
.navbar-header {
    float: left;
}

@media screen and (max-width: 1200px)
.navbar-header {
    float: none;
    min-height: inherit;
}
